:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.page-header {
}

/* Logo */

.link {
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Site Navigation */

.site-nav .link {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #404bbf;
}

.list {
  list-style: none;
}

.address-information .link {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  height: 1.5;
  letter-spacing: 0.02em;
}

.address-information .link:hover,
.address-information .link:focus {
  color: #404bbf;
}

/* Hero */

.hero {
  background: #2e2f42;
}

.hero-title {
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

/* Section */
.section-title {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* Features */
.feature-list .title {
  color: var(--title-text-color);
}

/* Button */

.button {
  color: var(--primary-white-color);
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.title {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.description {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Team Members */

.section-team {
  background-color: #f4f4fd;
}

.picture-frame {
  background-color: #ffffff;
}

.profession {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-footer {
  background-color: var(--title-text-color);
}

.logo-web-footer {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio-footer {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.slogan {
  color: #f4f4fd;
}

/* Portfolio */

.site-menu {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.site-menu .link:hover,
.site-menu .link:focus {
  color: #404bbf;
}

.button-filter {
  color: var(--accent-color);
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--primary-white-color);
  background-color: #404bbf;
}

.portfolio-descr {
  color: #434455;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
